{sub_dirs, []}.

{deps, [
  {lager, "3.0.1", {git, "git://github.com/basho/lager.git", {tag, "3.0.1"}}},
  {gen_tracker, "1", {git, "git://github.com/erlyvideo/gen_tracker.git"}},
  {cowboy, "1.0.3", {git, "git://github.com/ninenines/cowboy", {tag, "1.0.3"}}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.